@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div style="margin-top:100px;">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

</div>