<div class="about-container" id="about-container">
    <div class="about-items">
        <div class="about-title">
            <h1>About Online Shop</h1>

        </div>
        <div class="about-para">
            <p>
                Our website is an e-commerce website where it focuses on business to consumer market segment type.
                which involves sales between businesses and their customers.

            </p>
            <br />
            <p>
                we have used the database first approach which is one of the Entity framework.

            </p>

        </div>

    </div>
    <div class="contact-items" id="contact">
        <div class="contact-header">
            <h1>Contact us</h1>

        </div>
        <div class="contact-info">
        <div class="contact-title">
            <h3>For more information call us:</h3>
            <p>+251927274352</p>
            

        </div>
        <div class="contact-number">
            <h3>Email:</h3>
            <p>onlineshop@gmail.com</p>
        </div>
            </div>

    </div>

</div>