<div class="brands">
    <h1>Currently avalilable brands</h1>
    <div class="brand-items">
        <div class="item-1">
            <img src="~/ExternalImg/Samsung.png" alt="" />
            
        </div>
        <div class="item-1">
            <img src="~/ExternalImg/AppleLogo.png" alt="" />
            
        </div>
        <div class="item-1">
            <img src="~/ExternalImg/Sony.png" alt="" />
            
        </div>
        <div class="item-1">
            <img src="~/ExternalImg/HP.png" alt="" />
           
        </div>
        <div class="item-1">
            <img src="~/ExternalImg/ASUS.png" alt="" />
            
        </div>
        <div class="item-1">
            <img src="~/ExternalImg/LG.png" alt="" />
            
        </div>

    </div>

</div>
