
<link href="~/Content/style.css" rel="stylesheet" />
<div class="product" id="news">
    <div class="product-header">
        <h1>Latest News</h1>
    </div>
    <div class="products-items">
        <div class="item-1">
            <img src="~/ExternalImg/Samsung UHD.jfif" alt="" height="276">
            <h3>Samsung Premium UHD </h3>
            <p>Coming Soon</p>

        </div>
        <div class="item-1">
            <img src="~/ExternalImg/VR.jpg"  alt="" height="276">
            <h3>VR</h3>
            <p>Coming Soon</p>

        </div>
        <div class="item-1">
            <img src="~/ExternalImg/alienware.jfif"  alt="" height="276">
            <h3>Alienware Laptop</h3>
            <p>Coming Soon</p>


        </div>
        <div class="item-1">
            <img src="~/ExternalImg/Speaker.jpg"  alt="" height="276">
            <h3>Smart Speaker with Voice Control</h3>
            <p>Coming Soon</p>


        </div>
    </div>
</div>